.select {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  position: absolute;
  border: 1px solid white;
  top: 10px;
  left: 10px;
  user-select: none;
}

.option {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  background-color: white;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.lang {
  width: 24px;
  height: 24px;
  background-color: rgb(170, 170, 197);
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.lang-unactive {
  width: 24px;
  height: 24px;
  background-color: rgb(170, 170, 197);
  color: rgba(0, 0, 0, 0.367);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  transition: color 0.05s ease-in-out;
}

.base {
  width: 24px;
  height: 24px;
  overflow: hidden;
  transition: height 0.05s ease-in-out;
}

.active {
  width: 24px;
  height: 70px;
  overflow: hidden;
  transition: height 0.1s ease-in-out;
}
